body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #181818;
    color: #e0e0e0;
    margin: 0;
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    margin: 10px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
}

.inputs {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
}


h2 {
    font-size: 1.8rem;
    margin-top: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.input-group label {
    color: #e0e0e0;
    font-size: 1.2rem;
    text-transform: uppercase;
}


.input-group input[type="file"] {
    display: none;
}

.input-group .file-input-label {
    display: inline-block;
    font-size: 1rem;
    background-color: #444;
    opacity: 75%;
    color: #e0e0e0;
    padding: 12px 0px;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: 0.2s;
}

.input-group .file-input-label:hover {
    background-color: #555;
    letter-spacing: 1px;
    transition: 0.3s;
}

.input-group input[type="text"],
.input-group input[type="number"],
.input-group textarea {
    width: 100%;
    padding: 12px 0px;
    height: 24px;
    border: 1px solid #555;
    background-color: #444;
    opacity: 50%;
    color: #e0e0e0;
    border-radius: 10px;
}

.input-group input[readonly] {
    background-color: #444;
    cursor: not-allowed;
}

.invert-group {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

  .hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }

  input[type=checkbox]+label {
    color: #e0e0e0;
    background-color: red;
    border: 1px red solid;
    border-radius: 10px;
    user-select: none;
    text-align: center;
    height: 24px;
    padding: 12px 0;
    width: 100%;
  }

  input[type=checkbox]:checked+label {
    color: #e0e0e0;
    background-color: green;
    border: 1px green solid;
    font-style: normal;
  }

.execute-button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.execute-button button {
    width: 200px;
    margin-top: 20px;
    padding: 12px 8px;
    background-color: #008000;
    opacity: 80%;
    border: none;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.execute-button button:hover {
    opacity: 100%;
    background-color: #218838;
    letter-spacing: 2px;
    transition: 0.3s;
}

.input-group textarea {
    height: 250px;
    width: 100%;
    padding: 12px 0px;
    border: 1px solid #555;
    background-color: #444;
    opacity: 50%;
    color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
}


#logs-h2 {
    margin: 0;
}

.input-group textarea {
    height: 250px;
    width: 100%;
    padding: 12px 0px;
    border: 1px solid #555;
    background-color: #444;
    opacity: 50%;
    color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 20px;
}


#logs-h2 {
    margin: 0;
}

.output {
    width: 70%;
    margin-top: 20px;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 200px;
    overflow-y: auto;
    min-height: 300px;
}

.output h2 {
    margin-top: 0;
    color: #e0e0e0;
}

canvas {
    margin-top: 10px;
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

footer {
    margin-top: 10px;
    height: 100px;
    width: calc(100% + 40px);
    box-sizing: initial;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
}